body{
    background-image: url(./image/pro1.jpg);
}
.h{
    height: 300px;
    width: 600px;
    margin-left: 370px;
    margin-top: 200px;
   
}

.h1{
    font-size: 60px;
    margin-left: 100px;
    color: white;
}
.b{
    border: 2px solid;
    height: 100px;
    width: 200px;
    margin-left: 180px;
    margin-top: 70px;
    border-radius: 15px;
    font-size: 50px;
    color: blueviolet;
    background-color: bisque;
}
#s{
    background-image: url(./image/images\ \(3\).jpg);
}
.p{

    height: 500px;
    width: 900px;
    margin-left: 250px;
    margin-top: 200px;  
}
.p1{
    font-size: 50px;
    margin-left: 100px;
    color: white;
}
#a{
    border: 2px solid;
    height: 30px;
    width: 200px;
    margin-top: 30px;
    margin-left: 340px;
    border-radius: 10px;
    color: black;
}
.p2{
    /* border: 2px solid; */
    font-size: x-large;
    font-style: inherit;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    margin-left: 370px;
    margin-top: 20px;
    color: blue;
}
#p3{
    border: 2px solid;
    height: 50px;
    width: 200px;
    margin-left: 310px;
    margin-top: 30px;
    font-size: 25px;
    font-style: italic;
      padding-left: 50px;
    color: bisque;
}
#p4{
    border: 2px solid;
    height: 50px;
    width: 370px;
    margin-left: 250px;
    margin-top: 30px;
    color: whitesmoke;
}
#k{
    background-image: url(./image/images\ \(4\).jpg);
}
#w{
    font-size: 50px;
    margin-left: 450px; 
    margin-top: 200px;
    
}
.w1{
    margin-left: 590px;
    margin-top: 50px;
    height: 60px;
     width: 120px;
     border-radius: 50px;
     font-size: 20px;
}
#l{
    font-size: 50px;
    margin-left: 450px; 
    margin-top: 200px;
}
.l1{
    margin-left: 590px;
    margin-top: 50px;
    height: 60px;
     width: 120px;
     border-radius: 50px;
     font-size: 20px;
}